*{
    background-color: rgb(255, 166, 234);
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: white; 
}
ul {
    list-style-type: none;
    padding-left: 0%;
    margin-bottom: 5%;
    color:rgb(251, 107, 148);
}

a {
    color: rgb(251, 107, 148);
}

p {
    margin-top: 5%;
    color: white; 
}


